/* app css stylesheet */
.navbar-inner {border-radius: 0;}
.invisible {display: none !important;}
.inlineBlock {display: inline-block;}
input[type="text"], textarea {border: none; box-shadow: none; width: 100%;}
#formWrap { margin: 0 auto; float: none; background-color: #f1f1f1; box-shadow: 0 1px 5px #eee;}
#formWrap form {width: 95%; border: 1px solid #E3E3E3; padding: 15px; background-color: #fff;
    box-shadow: 0 1px 4px #eee inset;
}
#formWrap .label {cursor: pointer;}
.well {border-radius: 0;}
.note {position: relative; border: 1px solid #ddd; padding-bottom: 1em; background-color: #fff; padding: 1em; margin-top: 0.75em; box-shadow: 0 1px 5px #EEEEEE;}
.note.compact {font-size: 0.85em; padding: 0 0.5em;}
.note h4 {display: inline-block;}
.note.compact h5 {margin: 0.5em 0;}
#list {margin: 0 auto; float: none;}
.date {position: absolute; top:0; right: 0.5em; font-size: 0.8em; color: #999;}
.label {margin-right: 3px;}
.actions {position: absolute; right: 0; bottom: 0;}
.note .actions {display: none;}
.noteHover .actions {display: block;}
.smallIcon {height: 16px; width: 16px; cursor: pointer; background-image: url("../img/glyphicons-halflings.png"); background-repeat: no-repeat; }
.deleteNote { background-position: -47px -95px; }
input[type="text"].editInput, textarea.editInput {display: inline-block; background-color: #f5f5f5; width: auto;}