<section id="list" ng-controller="ListCtrl">
	<div ng-repeat="item in items" class="bookmark">
		<h1><a href="{{item.link}}" target="_blank">{{item.title}}</a></h1>
		<span>{{item.desc}}</span>
		<div class="actions">
			<div ng-click="deleteBookmark($index)" class="smallIcon deleteBookmark"></div>
			<input type="checkbox" ng-model="item.done">
		</div>
	</div>
	<form ng-submit="addBookmark()" class="navbar-form pull-left">
        <input type="text" ng-model="link" placeholder="enter link" />
        <input type="text" ng-model="desc" placeholder="enter description" />
        <input class="btn" type="submit" value="add">
    </form>
<section>
