<!doctype html>
<html lang="en" ng-app="App">
<head>
  <meta charset="utf-8">
  <title>My Bookmarks app</title>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div id="container" class="row-fluid" ng-controller="NotesCtrl">
        <section id="formWrap" class="well span6">
            <form ng-submit="addNote()">
                <input type="text" ng-model="title" placeholder="Add a new note..." />
                <input type="text" ng-model="content" placeholder="Note..." />
                <input class="btn" type="submit" value="add">
            </form>
            <span id="{{tag.id}}" class="label label-info" ng-repeat="tag in tags" ng-click="selectTag(tag.id)">{{tag.title}}</span>
            <div class="clearfix"></div>
        </section>
        <section id="list" class="span6">
            <div ng-repeat="note in notes | filter:selectedTag" class="note" ng-class="noteClass" ng-mouseover="noteClass = 'noteHover'" ng-mouseleave="noteClass = ''">
              <h4>{{note.title}}</h4>
              <span class="label label-info" ng-repeat="tag in note.tags">{{tag}}</span>
              <div>{{note.content}}</div>
              <div class="actions">
                <div ng-click="deleteNote($index)" class="smallIcon deleteNote"></div>
              </div>
              <span class="date" title="{{note.time | date:'medium'}}">{{note.time | date:'mediumDate'}}</span>
            </div>
        </section>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
  <script src="js/mongolab.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
