<section id="settings" class="well span6">
    <fieldset>
        <table>
            <tr>
                <td><label>Name:</label></td><td><input type="text" ng-model="user.name" value="{{user.name}}"></input></td>
            <tr>
            <tr>
                <td><label>User Name:</label></td><td>{{user.username}}</td>
            <tr>
            <tr>
                <td><label>Email:</label></td><td><input type="text" ng-model="user.email" value="{{user.email}}"></input></td>
            <tr>
            <tr>
                <td><label>Web:</label></td><td><input type="text" ng-model="user.web" value="{{user.web}}"></input></td>
            <tr>
            <tr class="{{buttonsRowClass}}">
                <td></td>
                <td>
                    <form ng-submit="editUser()">
                        <input class="btn" type="submit" value="Save" />&nbsp;
                        <input class="btn" type="submit" value="Cancel" />
                    </form>
                </td>
            <tr>
        </table>
    </fieldset>
</section>
